html, body {
	font-family: Garamond sans-serif arial helvetica;
	background-image: url("../img/fmab.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
nav { 
	margin-top: 5px;
	padding: 10px;
}
nav .col-md-3 a { text-decoration: none; color: greenyellow; }

#container {
	width: 100%;
	height: 400px;
}

#char-table {
	margin: 5px;
	width: 100%;
	display: none;
}
#char-table table {
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	opacity: 1;
}
#char-table table td, th, tbody, thead {
	border: 2px solid black;
	font-size: 12pt;
}
#char-table td { line-height: 25px }

/*-----------------------------Buttons------------------------------------*/
.primary {
	background-color: transparent;
	padding-top: 5px; padding-bottom: 5px;
	padding-left: 14px; padding-right: 14px;
	border-radius: 10px;
 }
.primary:focus{ outline: none; }

/*-------------------------Custom Select tag--------------------------*/
.custom-dropdown { 
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
.custom-dropdown li { 
	background-color: rgba(4, 4, 4, 0.8);
	list-style-type: none; 
}
.custom-dropdown li:hover { 
	background-color: rgba(104, 104, 104, 0.8);
	cursor: pointer;
}
.arrow-down {
	display: inline-block;
  	width: 0; height: 0; 
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent; 
  	border-top: 7px solid black;
}
.all_choices {
	overflow: auto;
	display: none;
	height: 100px;
}
.selected {
    display:inline-block;
	border:2px solid #CCC;
	background: transparent;
	vertical-align:middle;
	text-align: center;
}

.selected:hover { cursor: pointer; }
/*--------------------------------------------------------------------*/

#hide-char:hover {
	text-decoration: underline;
	cursor: pointer;
}

#added-info img {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin: 1px;
}

.overlap {
	position: absolute;
	width: 200px;
}

.content-area {
	background-color: rgba(4, 4, 4, 0.5);
	color: greenyellow !important;
	border-radius: 10px;
	padding: 10px;
}
.content-area p,q { 
	padding: 5px;
	display: inline;
}

@media screen and (max-width: 767px) {
	.overlap { position: relative; }
}