html, body {
	height: 100%;
	font-family: Garamond sans-serif arial helvetica;
	color: greenyellow;
	line-height: 15px;
	overflow: auto;
}

a { text-decoration: none; }
a:hover { cursor: pointer; }

#header {
	/* position: absolute; */
	top: 0;
	width: 100%;
	background: rgba(4, 4, 4, 0.9);
	margin: 0;
	padding: 10px;
}

.darker {
	background: rgba(4, 4, 4, 1);
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	padding: 5px;
	margin-top: 5px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0; right: 0;
	margin: 0;
	text-align: center;
	background: rgba(4, 4, 4, 0.8);
	padding: 5px;
	font-size: 12pt;
}
#footer #info {
	display: inline-block;
	width: 90%;
	margin: 0 auto;
}
#footer p { margin: 0; }

.form {
	display: inline-block;
	padding: 10px;
	background: rgba(4, 4, 4, 0.9);
	border-radius: 10px;
	text-align: center;
	-webkit-animation: fadein 1s ease forwards;
	-o-animation: fadein 1s ease forwards;
	animation: fadein 1s ease forwards;
}

.form h3 { padding: 5px; }
.form input, textarea { width: 100%; text-align: center; }
.form a, span { cursor: pointer; }

.login {
	width: 40%;
	-webkit-animation: fadein 1s ease forwards;
	-o-animation: fadein 1s ease forwards;
	animation: fadein 1s ease forwards;
}

.registration input, textarea { 
	width: 70%;
}

#first {
	height: 100%;
	background-image: url("../img/fmab.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#second {
	height: auto;
	width: 100%;
	display: inline-block;
	text-align: center;
	background-image: url("../img/fmabRegister.png");
	/* https://vignette.wikia.nocookie.net/fma/images/e/e9/Fmab-poster.png/revision/latest?cb=20131124145205 */
	background-size: cover;
	background-repeat: no-repeat;
}

#default { display:none; }

@keyframes fadein {
	0% { margin-top: 15%; opacity: 0; }
	100% { margin-top: 10%; opacity: 1.0; }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
	html, body { font-size: 10pt; }
	
	#first .login { 
		width: 70%;
		-webkit-animation: fadein 1s ease forwards;
		-o-animation: fadein 1s ease forwards;
		animation: fadein 1s ease forwards;
	}

	@keyframes fadein {
		from { margin-top: 65%; opacity: 0; }
		to { margin-top: 30%; opacity: 1; }
	}
}

@media screen and (min-width: 501px) and (max-width: 1080px ) {
	/* html, body { font-size: 14pt; line-height: 20px } */

	#first .login { 
		width: 50%;
		-webkit-animation: fadein 1s ease forwards;
		-o-animation: fadein 1s ease forwards;
		animation: fadein 1s ease forwards;
	}

	@keyframes fadein {
		from { margin-top: 65%; opacity: 0; }
		to { margin-top: 20%; opacity: 1; }
	}
}

@media screen and (min-width: 1081px) and (max-width: 2560px ) {
	html, body { font-size: 16pt; }

	#first .login { 
		width: 50%;
		-webkit-animation: fadein 1s ease forwards;
		-o-animation: fadein 1s ease forwards;
		animation: fadein 1s ease forwards;
	}

	@keyframes fadein {
		from { margin-top: 65%; opacity: 0; }
		to { margin-top: 5%; opacity: 1; }
	}
}